<script>
function fetchResults()
{
    var query = document.getElementById("searchQuery").value;
    alert(query);
}
</script>

<div id="searchForm" style="margin:5px; padding:2px; border: 1px solid gray;">
    <input id="searchQuery" name="query"/>
    <button type="button" onclick="fetchResults()">Submit</button>
</div>

<div id="statusSection" style="margin:5px;padding:2px; border: 1px solid gray;">Waiting for Search</div>

<div id="blogsResults" style="margin:5px; padding:2px; border: 1px solid gray;">Waiting for Search</div>